@charset "UTF-8";
*{
   margin : 0;
   padding : 0;
   box-sizing:border-box;
}

html{
   font-size : 10px;
}

ul, li {
   list-style: none;
   display: inline-block;
}

a {
   text-decoration: none;
   color : inherit;
}

@font-face{
   font-family: abster;
   src:url(../font/abster-webfont.woff) format('woff');
}

.header{
   width:100%;
   height:80px;
   margin:0 auto; /*수평기준 중앙, margin-top: 0; margin-bottom: 0;*/
   display: flex; /*아이템 원하는 위치로*/
   justify-content: space-between; /*요소가 좌우 끝으로 붙어서 출력되게*/
   align-items: center;
   background-color: #655345;
}

.header h1 a{
   font-size: 2.5rem;
   text-decoration: none;
   color: wheat;
   font-family: abster;
}

.header h1 a, 
.nav ul{
   padding-left: 80px;
   padding-right: 30px;
    list-style-type: none;
}

.nav ul li{
   display: inline-block;
   margin : 0 20px;
   list-style: none;
}

/*.nav ul li a:hover{
   color: #655345;
}
*/

.dropdown {
    position: relative;
    font-family: 'Noto Sans KR';
}

.big-menu {
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    color : wheat;
}

.bt-menu {
   font-family: 'Noto Sans KR'
}

.small-menu {
    position: absolute;
    background-color: #EAE5DD;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.small-menu a {
    color: black;
    font-size: 1.2rem;
    padding: 12px 16px;
    text-decoration: none;
     display: block;
}

.small-menu{
   display:none;
}

.dropdown:hover .small-menu{
   display: block;
}

.small-menu a:hover {
   background-color: rgba(0,0,0,0.1);
}