@charset "UTF-8";
 /* 보드랩 가로 1000px 위 아래 100px , 양쪽은 가운데 정렬*/
*{
	margin : 0;
	padding : 0;
}

html{
	font-size : 10px;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color : inherit;
}

@font-face{
	font-family: abster;
	src:url(../font/abster-webfont.woff) format('woff');
}
*{
	margin :0;
	padding : 0;
	box-sizing:border-box;
}

/*카테고리 라인*/

.container{
	width : 100%;
	background-color: rgb(246, 244, 238 );
	background-size: cover;
}

.container .header{
	width:100%;
	height:80px;
	margin:0 auto; /*수평기준 중앙, margin-top: 0; margin-bottom: 0;*/
	display: flex; /*아이템 원하는 위치로*/
	justify-content: space-between; /*요소가 좌우 끝으로 붙어서 출력되게*/
	align-items: center;
	background-color: #655345;
}

.container .header h1 a{
	font-size: 2.5rem;
	text-decoration: none;
	color: wheat;
	font-family: abster;
}

.container .header h1 a, 
.container .nav ul{
	padding-left: 80px;
	padding-right: 30px;
}

.container .nav ul li{
	display: inline-block;
	margin : 0 20px;
	list-style: none;
}

.container .nav ul li:hover{
 	transition-duration: 0.5s;
}

.container .nav ul li:hover .subMenu{
	height: 120vh; /*서브메뉴 li한개의 높이 50*5*/
 	transition-duration: 1s;
}

.container .nav ul li a{
	font-size: 1.5rem;
	text-decoration: none;
	color : wheat;
}

.container .nav ul li a:hover{
	color: rgba(245, 222, 179, 0.9);
}

 body{
	background-color:  rgb(246, 244, 238 );
}

.subMenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  right:0;
  
  overflow: hidden;
  position: fixed;
}

.subMenu li {
  width: 45%;
  line-height: 50px;
  right: 30%;
  background-color: rgba(101, 83, 69, 0.5);
  text-align: center;
}


/*게시판 목록*/

.board_wrap {
	width : 1000px;
	margin : 100px auto;
	color: #655345 ;
	font-family: 'Noto Sans KR';
}

.board_title{
	margin-bottom: 30px; /* 1:1 상담 밑에 30px 적용 됨 (목록/수정) 부분*/
}

.board_title strong{
	font-size: 3rem; /*rem:최상위 태그(html)의 값을 곱한 값 == 30px*/
	font-family: 'Noto Sans KR';
}


/*게시판 글 작성*/

.board_write {
	border-top: 2px solid #655345;
}

.board_write .title,
.board_write .info{
	padding: 15px;
}

.board_write .info{
	border-top : 1px dashed #ddd;	
	border-bottom : 1px solid#655345;	
}

.board_write .title dl{
	font-size: 0;
}

.board_write .info dl{
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.4rem;
}

.board_write .title dt,
.board_write .info dt{
	width: 100px;
}

.board_write .title dd{
	width: calc(100% - 100px); /*가로길이 계산, 반응형*/
}

.board_write .title input[type="text"]{ /*input만 써도 되지만 추후 유지보수를 위해 type="text"를 지정*/
	padding : 10px;
	width: 80%;
	max-width: 100%;
	box-sizing: border-box;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	font-family: 'Noto Sans KR';	
}

.board_write .title input[type="date"]{ 
	padding : 10px;
	width: 80%;
	max-width: 100%;
	box-sizing: border-box;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	font-family: 'Noto Sans KR';	
}

.board_write .title input[type="number"]{ 
	padding : 10px;
	width: 80%;
	max-width: 100%;
	box-sizing: border-box;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	font-family: 'Noto Sans KR';	
}

.board_write .title select{ 
	padding : 10px;
	width: 80%;
	max-width: 100%;
	box-sizing: border-box;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	font-family: 'Noto Sans KR';	
}

.board_write .title textarea{ 
	padding : 10px;
	width: 80%;
	height: 200px;
	max-width: 100%;
	box-sizing: border-box;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	font-family: 'Noto Sans KR';	
}


.board_write .cont {
	padding-top: 10px;
    border-bottom: 1px solid #ddd;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 3000px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
    background-color: #f5f5f5;
    font-family: 'Noto Sans KR';
}

.foot{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #655345;
	color : white;
}



.btn_1 {
	height:50px;
	width:80px;
	background-color:  #655345;
	color:black;
	cursor:pointer;
}


/*게시판 목록 버튼*/

.bt_wrap {
	margin-top: 30px;
	font-size : 0; /*목록과 수정 사이 여백 사라지게, 정확한 수치로 적용하기 위해 폰트 사이즈 0을 인라인 블럭의 부모에 적용*/
	text-align : center; /*a태그와 그 안의 내용도 가운데 정렬(상속받기 때문에 )*/
}




.bt_wrap a{
	display: inline-block; /*인라인 요소 추가*/
	min-width: 80px; /*최소 가로 길이 : 80px*/
	margin-left: 10px;
	padding : 10px; /*상하 좌우 여백 10px*/
	border : 1px #655345; /*테두리 검정*/
	border-radius: 2px; /*2px 둥그렇게*/
	font-size:1.4rem;
}

.bt_wrap a:first-child { /*첫번째 a태그 */
	margin-left : 0; /*첫번째 a태그 왼쪽으로 멀어지지 않도록 0으로 설정*/
}

.bt_wrap a.on{/* 강조되었을 때 설정*/

	background : #655345;
	color : white;
}
 
.bt_wrap a.on_1{
	background-color: rgba(0,0,0,0);
	border : 1px solid grey;
	color : grey;
}

.on {	
	min-width: 80px; /*최소 가로 길이 : 80px*/
	margin-left: 1px;
	padding : 10px; /*상하 좌우 여백 10px*/
	border : 1px #655345; /*테두리 검정*/
	border-radius: 2px; /*2px 둥그렇게*/
	font-size:1.4rem;
	background : #655345;
	color : white;
	cursor:pointer;
	border : 1px solid #655345;
}

.back {	
	min-width: 80px; /*최소 가로 길이 : 80px*/
	margin-left: 10px;
	padding : 10px; /*상하 좌우 여백 10px*/
	border : 1px #655345; /*테두리 검정*/
	border-radius: 2px; /*2px 둥그렇게*/
	font-size:1.4rem;
	background : rgba(0,0,0,0);
	color : grey;
	cursor:pointer;
	border : 1px solid grey;
}

